<div class="container">
	<div class="col-md-12">
		<h1>Editing Services</h1>
	</div>

	<div class="col-md-12">
		<%= form_for @service do |f| %>
			<%= f.label :name %>:
			<%= f.text_field :name %>

			<%= f.submit %>
		<% end %>
	</div>

	<div class="col-md-12">
		<%= link_to 'Show', @service, :class => 'btn btn-primary', :role => 'button' %>
		<%= link_to 'Back', services_path, :class => 'btn btn-default', :role => 'button' %>
	</div>
</div>
