<div class="container">
  <div class="col-md-12">
    <h1 class="well">Listing Services</h1>
  </div>

  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-6">Name</th>
          <th class="col-md-6">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td class="col-md-6"><%= service.name %></td>
            <td class="col-md-6">
              <%= link_to 'Show', service, :class => 'btn btn-info' %>
              <%= link_to 'Edit', edit_service_path(service), :class => 'btn btn-success' %>
              <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <%= link_to 'New Services', new_service_path, :class => 'btn btn-primary', :role => 'button' %>
  </div>
</div>
